//Navbar Icon
.navbar-icon {
  position: fixed;
  top: 4rem;
  right: 3.2rem;
  color: white;
  width: 4rem;
  z-index: 2;
  border-bottom: 2px solid;
  border-top: 2px solid;
  height: 1.5rem;
}

.horizontal-line {
  margin-bottom: 5rem;
  visibility: hidden;
}

.navtog {
  opacity: 1 !important;
  width: 100% !important;
}

.navbar {
  height: 100vh;
  position: fixed;
  background-color: black;
  z-index: 1;
  opacity: 0;
  width: 0;
  transition: all 0.1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat';

  &__links {
    &--link {
      list-style: none;

      a {
        text-decoration: none;
        color: var(--color-brown);
        font-size: 4rem;
      }
    }
  }
}
